

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1>Stupid Coach says...</h1>
      <p><%= @question %></p>
      <p><%= @answer %></p>
      <h2><%= link_to "Ask another question", ask_path %></h2>
    </div>
  </div>
</div>


