<h1>Stupid Coaching</h1>
<p>Talk to your Stupid Coach</p>

<form action="/answer">
  <label for="question">Ask a question</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
